.trailer {
    float: center;
    width: 100%;
    background-attachment: inherit;
    background-position: top;
}

.menu {
    margin:0;
    padding:0;
    list-style-type:none;
    float:left; 
    display:block;
    


}

.logo {
    float: top left; 
    width: 150px; 
}

