*{
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

footer {
    color: rgb(155, 154, 154);
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
    
    
}

footer .iconosindex {
    font-size: 15px;
    margin-top: 100px;
    position: relative;
}


.header {
    display: flex;
    flex-direction: row;
    background-image: url(../img/galaxy.jpeg) ;
    justify-content: space-between;
    
}

.barranav {
    display: flex;
    align-items: center;
    margin-left: 10px;

    
}

.cuadrado {
    display: none;
}

.barranav a {
    
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-around ;
}
.barranav a:hover {
    background-color: #fff;
    color: black;
}

.bottonsearch{
    height: 40px;
    width: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

.search{
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;

}


.texto-encima {
    position: relative;
    color: #fff;
    font-size: 30px;
}


.trailer {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.principal .boton {

    border: solid 3px white;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    margin-right: 20px;
    position: center;


}

.principal .boton:hover {
    background-color: #fff;
    color: black;

}

.titulo_ppl{
    margin-left: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
}


.peliculas_populares {
    display: flex;
    justify-content: row;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
}

.series_populares {
    display: flex;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.peliculas_infantiles {
    display: flex;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.pelicula {
  width: 450px;
  height: 340px;
  margin-left: 30px;

}

.imagenPP{
    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 15px;
}

.imagenPP:hover {
    width: 500px;
    height: 300px;
}



.titulo {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.estreno{
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;

}

.serie {
    width: 450px;
  height: 340px;
  margin-left: 30px;
}




.infantiles {
    width: 450px;
  height: 340px;
  margin-left: 30px;
}

.hipervinculo {
    text-decoration: none;
}



.fototg{
    width: 600px;
    height: 55vh;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    border-radius: 15px;

    
}




.infopelicula{
    color: aliceblue;
}

.descripcion{
    text-align: left;
    
}

.datostg{
    text-align:left;
    padding: 20px;
    margin: 20px;

}
 

.titulocomedia{
    color: aliceblue;
}

.texto-encima2 {
    position: relative;
    color: #fff;
    
}

.texto-encima2 .topgun {
    background-color: rgba(0, 0, 0, 0.434);
    font-size: 40px;
    margin: 1%;

}

.texto-encima2 .topgun_descripcion {
    background-color: rgba(0, 0, 0, 0.434);
    font-size: 20px;
    text-align:justify;
    margin: 1%;
   
}

.principal .boton2 {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px white;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    margin-right: 20px;
    position: center;
    margin-top: 30px;
}

.principal .boton2:hover {
    background-color: #fff;
    color: black;

}

.estrellas {
    color: rgb(233, 224, 49);
    font-size: 21px;
    margin: 1%;
   
}

.verde {
    color: rgb(16, 171, 16);
    margin: 1%;
}

.contenedor_detail {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 10px;
    font-size: 17px;
}

.item {
    margin-left: 1%;
    margin-right: 10px;
    font-size: 17px;
}

.lista_cast {
    display: flex;
    flex-direction: row;
}

.foto_tg img{
    width: 600px;
    height: 380px;
    margin: 20%;
    margin-left: 30%;
 
    
}

.lista_tg {
    margin-left: 15%;
    margin-top: 10%;
    list-style: none;

}

.lista_tg .titulo_lista {
    font-weight: bold;
    font-size: 20px;
    margin: 17px;
    list-style: none;
}

.lista_tg .subtitulo_lista {
    font-weight: normal;
    font-size: 16px;
}

.cajapadre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    background-color: rgba(200, 200, 200, 0.471);

}

.cajahijo {
    margin: 2%;
}
.cajahijo a {  
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: solid 3px #fff;
}

.cajahijo a:hover {
    background-color: #fff;
    color: black;
}


.h1_search {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.fototopgun img {
    width: 450px;
    height: 250px;
}

@media (max-width: 768px) {
    .barranav{
        display: none;
    }

    .cuadrado {
        display: block;
        color: #fff;
        font-size: 25px;
        margin-left: 200px;
    }

    .bottonsearch {
        display: none;
    }

    .search {
        display: none;
    }

    .texto-encima .thecrown_descripcion {
        font-size: 20px;
        text-align:justify;
    }
   
    
}

